html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color:transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
/*****Header *******/


/***** Site index *****/
.site-index{
    width: 100%;
    height:100%;
}
.site-index .site-index-header{
    text-align: center;
    padding-bottom: 20px;

}
.site-index .site-index-header h1 {
    color: #00bfff;
    font-size: 46px;
}
.body-content {
    opacity: 0.8;
}
.site-index .header-img{
    background-image: url(/a_p/web/images/HomePageBackground.jpg);
    background-size: cover;
    height: 300px;

}
.site-index .header-img button{
    height: 100px;
    width: 250px;
    opacity: 0.8;
    font-size:20px;
    color: lightseagreen;
    font-weight: bold;
}
.header-button-index {
    padding-top: 9%;
    padding-left: 109px;
    padding-right: 174px;
}
.site-index .jumbotron.centered{
   
    background-size: cover;
}
/****** Header *******/
.nav{
    padding-top: 5px;
}
.navbar-inverse{
    background-color:transparent;
}
.navbar-brand{
    background-image: url(/a_p/web/images/Logo-80.png);
    width: 80px;
    background-size: cover;
}
.collapse.navbar-collapse>ul>li>a{
    color:#444444;
    font-size: 15PX;
    
}
.collapse.navbar-collapse>ul>li>form button{
    color:#444444;
    font-size: 15PX;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
    color:#444444;
    background-color: transparent;
}
.collapse.navbar-collapse ul li a:hover{
    color:#444444;
     text-decoration: underline;
     font-weight: bold;
}
.collapse.navbar-collapse ul li form button:hover{
    color:#444444;
     text-decoration: underline;
     font-weight: bold;
}
.navbar-inverse.navbar-fixed-top.navbar .navbar-header .navbar-toggle a.navbar-brand:hover{
    color:#444444;
    text-decoration: underline;
    font-weight: bold;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus{
    color:#444444;
     text-decoration: underline;
     font-weight: bold;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
    font-weight: bold;
}
.navbar-inverse .navbar-brand{
    color:#444444;
}
.navbar-inverse{
    border-color:white;
    background-color: white;

}
/****** LOG IN *******/
.site-login{
    padding-right: 30%;
    padding-left: 30%;
}
.site-login h1{
    text-align: center;
}
.site-login p{
    text-align: center;
}
.site-login #login-form{
    padding-left: 15%;
    padding-right: 15%;
}
.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}
#login-form .form-group button{
    width: 100px;
}
#login-form{
    BACKGROUND-COLOR: #f1f3f3;
    PADDING-TOP: 22PX;
    PADDING-BOTTOM: 22PX;
    border-radius: 25px;
}
/*.site-login .login-form-space h1{
    text-align: center;
}
.site-login .login-form-space p{
     text-align: center;
}
#login-form{
    padding-left: 30%;
    padding-right: 30%;
    padding-top:20px;
}
.form-horizontal .form-group{
    margin-right: 0px;
    margin-left: 0px;
}
.form-group>div{
    /*DISPLAY: INLINE-BLOCK;
    WIDTH: 80%;
    PADDING-RIGHT: 7%;*/
/*}
.form-group.field-loginform-rememberme>div{
    PADDING-RIGHT: 0;
}
.form-group .form-button-login .btn.btn-primary{
    margin-right: 42%;
}*/
/******** Teacher index *********/
.teacher-index{
    width: 80%;
    float: left;
}
.button-action-list{
    display: inline-block;
    padding-top: 29px;
    width: 100%;
}
.button-action-list a{
    width: 100%;
}
/****** LAYOUT INDEX *******/

 .col-md-10 .grid-view{
     padding-top: 4px;
 }
/***** FundingSourceTeacher MODAL *****/

.fundingsource-teacher-index .modal-content .modal-body .modal-info-teacher-name{
    display: inline-block;
    padding-right:10px;
}
.fundingsource-teacher-index .modal-content .modal-body .modal-info-teacher-hours{
    display: inline-block;
    float: left;
    padding-left:10px;
}
.fundingsource-teacher-index .modal-content .modal-body .modal-info-teacher-title{
    display: inline-block;
    float : right;
    font-size: 17px;

}
.fundingsource-teacher-index .modal-content .modal-body .modal-info-hours-title{
    display: inline-block;
    float : left;
    font-size: 17px;
}
.fundingsource-teacher-index .modal-content .modal-body .modal-row{
    padding-top:5px;
    padding-bottom:5px;
}
.fundingsource-teacher-index .modal-content .modal-body .modal-title-area{
    height: 36px;
    border-bottom-style: solid;
}
/******** error message *******/

.alert-error{
    background-color: #ffb3b3;
    color: red;
    border-color: #ffb3b3;
}
/********* HOMEPAGE *********/
.site-index .home-section .hello-user1{
    display: inline-block;
    font-size: 40px;
    color: white;
}
.site-index .home-section .hello-user2{
    display: inline-block;
    font-size: 40px;
    color: white;;
}
.site-index .home-section .hello-user{
    padding-right: 10px;
    padding-bottom: 20px;
    
}
.site-index .home-section .table-responsive{
    padding-top: 50px;
}
.home-section .col-sm-offset-2.col-md-4.col-sm-6.margin-left-setting{
    MARGIN-LEFT: 0PX;
    MARGIN-RIGHT: 0PX;
    FLOAT: RIGHT;
}
.site-index .home-section{
    background-image:  url(/a_p/web/images/HomePageBackground.jpg);
}
#about.about.section-space-padding{
     background:  url(http://www.kidum-edu.org.il/wp-content/uploads/2016/03/02.jpg);
}
#about.about.section-space-padding .section-title{
    color: white;
}
.site-index .home-page-title{
    text-align: center;
    text-transform: uppercase;
    text-shadow: #363535 3px 3px 5px;
    font-variant: small-caps;
    color: #00CED1;
    font-size: 86px;
    height: 100%;
    padding-bottom: 74px;
    padding-top: 20px;
}